In [120]:
import pandas as pd

In [121]:
nvme = pd.read_json("nvme.json")
pvscsi = pd.read_json("pvscsi.json")

### NVMe - User, Sys CPU and Context

In [122]:
nvme[["jobname","usr_cpu","sys_cpu", "ctx"]].describe()

          usr_cpu     sys_cpu            ctx
count  100.000000  100.000000     100.000000
mean     2.569324   11.096770  244024.300000
std      0.374268    0.977924     277.404875
min      1.519222    8.985791  243285.000000
25%      2.341265   10.395909  243865.250000
50%      2.567894   11.055315  244074.500000
75%      2.811702   11.901034  244204.500000
max      3.485191   13.726128  244571.000000

### pvscsi - User, Sys CPU and Context

In [123]:
pvscsi[["jobname","usr_cpu","sys_cpu", "ctx"]].describe()

          usr_cpu     sys_cpu            ctx
count  100.000000  100.000000     100.000000
mean     2.703239   10.680056  295242.760000
std      0.439809    1.159410     346.451831
min      1.647429    7.765526  294200.000000
25%      2.444757    9.774740  295015.000000
50%      2.677170   10.743991  295265.000000
75%      3.014129   11.373644  295526.500000
max      3.811292   14.679958  295757.000000

In [124]:
nvmesync = pd.json_normalize(nvme.sync)
pvscsisync = pd.json_normalize(pvscsi.sync)

### NVMe fsync, all runs

In [125]:
nvmesync[["lat_ns.mean", "lat_ns.max", "lat_ns.percentile.99.000000", "lat_ns.percentile.99.990000"]].describe()

,lat_ns.mean,lat_ns.max,lat_ns.percentile.99.000000,lat_ns.percentile.99.990000
count,100.000000,1.000000e+02,100.000000,1.000000e+02
mean,96774.224795,3.432834e+06,147522.560000,1.567826e+06
std,8135.763078,1.294979e+06,11796.479057,6.592982e+05
min,83685.344143,1.929561e+06,120320.000000,3.993600e+05
25%,90008.742244,3.118649e+06,138240.000000,1.101824e+06
50%,95896.103449,3.139635e+06,146432.000000,1.294336e+06
75%,102592.151319,3.156941e+06,156672.000000,2.179072e+06
max,121141.768381,1.190925e+07,175104.000000,2.998272e+06

### pvscsi fsync, all runs

In [126]:
pvscsisync[["lat_ns.mean", "lat_ns.max", "lat_ns.percentile.99.000000", "lat_ns.percentile.99.990000"]].describe()

,lat_ns.mean,lat_ns.max,lat_ns.percentile.99.000000,lat_ns.percentile.99.990000
count,100.000000,1.000000e+02,100.000000,1.000000e+02
mean,96973.297300,3.462853e+06,147527.680000,2.547876e+06
std,6313.352243,9.339189e+05,12427.495351,3.555857e+05
min,86334.590645,3.059335e+06,124416.000000,1.220608e+06
25%,91907.474586,3.130368e+06,138240.000000,2.310144e+06
50%,96421.894330,3.143186e+06,147456.000000,2.572288e+06
75%,101229.867287,3.164657e+06,156672.000000,2.801664e+06
max,112340.409158,7.156912e+06,177152.000000,3.063808e+06

In [127]:
nvmewrite = pd.json_normalize(nvme.write)
pvscsiwrite = pd.json_normalize(pvscsi.write)

### NVMe write iops, clat percentiles

In [128]:
nvmewrite[["iops", "clat_ns.percentile.99.000000", "clat_ns.percentile.99.990000"]].describe()

,iops,clat_ns.percentile.99.000000,clat_ns.percentile.99.990000
count,100.000000,100.000000,100.00000
mean,9949.596065,7360.000000,26691.84000
std,772.030858,729.201805,32720.19217
min,7975.857243,5472.000000,13376.00000
25%,9362.840069,6816.000000,19392.00000
50%,9980.297843,7328.000000,23680.00000
75%,10593.706663,7904.000000,24960.00000
max,11349.265621,9536.000000,292864.00000

### pvscsi write iops, clat percentiles

In [129]:
pvscsiwrite[["iops", "clat_ns.percentile.99.000000", "clat_ns.percentile.99.990000"]].describe()

,iops,clat_ns.percentile.99.000000,clat_ns.percentile.99.990000
count,100.000000,100.0000,100.000000
mean,9873.937252,7928.9600,25000.960000
std,589.971377,719.7012,27319.749169
min,8592.159819,5792.0000,14784.000000
25%,9451.403565,7520.0000,18944.000000
50%,9860.497141,8032.0000,22656.000000
75%,10365.191715,8384.0000,24768.000000
max,10986.865887,9280.0000,292864.000000

In [130]:
thinsync = pd.json_normalize(nvme[nvme.jobname.str.contains("etcd[b-f]1$")].sync)
thicksync = pd.json_normalize(nvme[nvme.jobname.str.contains("etcd[g-k]1$")].sync)

### NVMe - first run - fsync thin VMDK

In [131]:
thinsync[["lat_ns.mean", "lat_ns.max", "lat_ns.percentile.99.000000", "lat_ns.percentile.99.990000"]].describe()

,lat_ns.mean,lat_ns.max,lat_ns.percentile.99.000000,lat_ns.percentile.99.990000
count,5.000000,5.000000e+00,5.000000,5.000000e+00
mean,104832.291658,5.575523e+06,152166.400000,2.454323e+06
std,5070.566059,3.867661e+06,8856.268108,2.381041e+05
min,98944.189702,3.062894e+06,142336.000000,2.277376e+06
25%,99726.705253,3.072479e+06,144384.000000,2.277376e+06
50%,107914.255747,3.145623e+06,152576.000000,2.310144e+06
75%,107978.953477,6.687374e+06,158720.000000,2.605056e+06
max,109597.354113,1.190925e+07,162816.000000,2.801664e+06

### NVMe - first run - fsync thick VMDK

In [132]:
thicksync[["lat_ns.mean", "lat_ns.max", "lat_ns.percentile.99.000000", "lat_ns.percentile.99.990000"]].describe()

,lat_ns.mean,lat_ns.max,lat_ns.percentile.99.000000,lat_ns.percentile.99.990000
count,5.000000,5.000000e+00,5.000000,5.000000e+00
mean,97383.870500,4.569903e+06,154624.000000,1.593344e+06
std,10800.738111,1.962739e+06,14114.865922,4.985692e+05
min,87303.076947,3.128282e+06,134144.000000,1.044480e+06
25%,89456.333110,3.137223e+06,148480.000000,1.089536e+06
50%,95735.035326,3.144086e+06,156672.000000,1.777664e+06
75%,99924.285753,6.713883e+06,162816.000000,1.908736e+06
max,114500.621364,6.726039e+06,171008.000000,2.146304e+06

In [133]:
thinsync2 = pd.json_normalize(nvme[nvme.jobname.str.contains("etcd[b-f][2-9]$")].sync)
thicksync2 = pd.json_normalize(nvme[nvme.jobname.str.contains("etcd[g-k][2-9]$")].sync)

### NVMe - run 2-9 - fsync thin VMDK

In [134]:
thinsync2[["lat_ns.mean", "lat_ns.max", "lat_ns.percentile.99.000000", "lat_ns.percentile.99.990000"]].describe()

,lat_ns.mean,lat_ns.max,lat_ns.percentile.99.000000,lat_ns.percentile.99.990000
count,40.000000,4.000000e+01,40.000000,4.000000e+01
mean,99799.849235,3.312532e+06,148953.600000,1.868493e+06
std,8701.447392,7.878599e+05,12427.454827,6.237317e+05
min,83974.174907,2.467324e+06,120320.000000,5.529600e+05
25%,94703.232247,3.134482e+06,139776.000000,1.187840e+06
50%,101460.783050,3.149732e+06,150528.000000,2.023424e+06
75%,105581.694785,3.161808e+06,156672.000000,2.310144e+06
max,121141.768381,6.831122e+06,175104.000000,2.998272e+06

### NVMe - run 2-9 - fsync thick VMDK

In [135]:
thicksync2[["lat_ns.mean", "lat_ns.max", "lat_ns.percentile.99.000000", "lat_ns.percentile.99.990000"]].describe()

,lat_ns.mean,lat_ns.max,lat_ns.percentile.99.000000,lat_ns.percentile.99.990000
count,40.000000,4.000000e+01,40.000000,4.000000e+01
mean,93235.392041,3.227419e+06,145216.000000,1.213235e+06
std,6129.251061,9.281568e+05,11188.971567,4.933937e+05
min,83685.344143,1.929561e+06,121344.000000,3.993600e+05
25%,88444.031665,3.107254e+06,136192.000000,9.687040e+05
50%,92522.881954,3.128838e+06,144384.000000,1.146880e+06
75%,96470.304820,3.149378e+06,151040.000000,1.347584e+06
max,110654.953904,6.968548e+06,171008.000000,2.670592e+06